@use "variables";

@mixin underline($bottom: -2px, $height: 1px, $color: var(--color-black)) {
  position: absolute;
  bottom: $bottom;
  left: 0;

  width: 100%;
  height: $height;

  background-color: $color;
  transform: scaleX(0);
  transform-origin: bottom right;

  transition: transform 0.3s ease;

  content: "";
}

@mixin media-small {
  @media (max-width: variables.$breakpoint-small) {
    @content;
  }
}

@mixin media-medium {
  @media (max-width: variables.$breakpoint-medium) {
    @content;
  }
}
