@use "@/styles/abstracts/mixins";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 135px;
  scroll-margin-top: 90px;

  @include mixins.media-medium {
    max-width: 918px;
  }

  @include mixins.media-small {
    max-width: 318px;
    margin-top: 75px;
  }
}

.title {
  max-width: 800px;
  margin-bottom: 30px;
  text-align: center;

  @include mixins.media-small {
    margin-bottom: 20px;
  }
}

.subtitle {
  max-width: 420px;
  margin-bottom: 100px;
  text-align: center;

  @include mixins.media-small {
    margin-bottom: 50px;
  }
}
