@use "@/styles/abstracts/variables";
@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/extends";

.container {
  max-width: 1860px;

  @include mixins.media-medium {
    max-width: 984px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(20, minmax(1px, 64px));
  grid-auto-rows: 300px;
  gap: 30px;

  @include mixins.media-medium {
    grid-template-columns: repeat(12, minmax(1px, 64px));
    column-gap: 20px;
  }

  @include mixins.media-small {
    grid-template-columns: repeat(6, minmax(1px, 64px));
    grid-auto-rows: 110px;
    row-gap: 18px;
    column-gap: 10px;
  }
}

.galleryImg {
  position: relative;
  display: block;
  grid-column: span 5;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @extend %border-radius;

  @include mixins.media-medium {
    grid-column: span 4;
  }

  @include mixins.media-small {
    grid-column: span 3;
  }

  & img {
    object-fit: cover;
  }
}

@for $i from 5 through 9 {
  .galleryImg:nth-child(9n + #{$i}) {
    grid-column: span 4;
  }
}

@media (max-width: variables.$breakpoint-medium) {
  .galleryImg:nth-child(18n + 2),
  .galleryImg:nth-child(18n + 13),
  .galleryImg:nth-child(9n + 7) {
    display: none;
  }

  @for $i from 5 through 9 {
    .galleryImg:nth-child(9n + #{$i}) {
      grid-column: span 3;
    }
  }
}

@media (max-width: variables.$breakpoint-small) {
  .galleryImg:nth-child(1) {
    padding-right: 4px;
  }
  .galleryImg:nth-child(4) {
    padding-left: 4px;
  }

  @for $i from 5 through 9 {
    .galleryImg:nth-child(9n + #{$i}) {
      grid-column: span 2;
    }
  }

  $pictures: 3, 6, 7;

  @each $el in $pictures {
    .galleryImg:nth-child(9n + #{$el}) {
      display: none;
    }
  }
}
