@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/extends";

.card {
  position: relative;

  display: grid;
  grid-template-rows: min-content auto min-content;
  row-gap: 38px;
  width: 100%;
  min-height: 567px;
  padding: 58px 60px;

  color: var(--color-white);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  overflow: hidden;
  cursor: pointer;

  @extend %border-radius;

  @include mixins.media-small {
    row-gap: 22px;
    min-height: 455px;
    padding: 30px;
  }
}

.cardTitle {
  @include mixins.media-small {
    max-width: 140px;
  }
}

.cardBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #5b5c5d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: transform 0.3s ease;

  @media (hover: hover) {
    .card:hover & {
      transform: scale(1.2);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 554px;
}

.list {
  margin: 0;
  padding-left: 30px;

  @include mixins.media-small {
    padding-left: 24px;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardBtn {
  position: relative;
  top: 7px;
  left: -20px;

  @media (hover: hover) {
    .card:hover & {
      background-color: var(--color-green-400);
    }

    .card:active & {
      background-color: var(--color-orange-200);
    }
  }
}

.cardLinks {
  display: flex;
  column-gap: 36px;

  @include mixins.media-small {
    display: none;
  }
}

.cardLink {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }

  &:active {
    text-decoration: underline;
    color: var(--color-orange-200);
  }
}
