@use "@/styles/abstracts/mixins";

.container {
  position: relative;
}

.selectArrow {
  position: absolute;
  top: 57px;
  right: 20px;
  pointer-events: none;

  @include mixins.media-small {
    top: 40px;
    right: 10px;
  }
}

.select {
  color: var(--color-gray-300);
  appearance: none;

  &:focus {
    color: var(--color-black);
  }
}

.selectSelected {
  color: var(--color-black);
}
